@font-face {
    font-family: 'Quite Magical';
    src: url(fonts/quite-magical-font/QuiteMagicalRegular-8VA2.ttf);
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    margin-left: 30px;
    margin-bottom: -20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Quite Magical';
}

.data {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-left: 40px;
    color: #1560bd;
}

.january {
    margin-left: 10px;
}

.data a {
    color:#1560bd;
    text-decoration: none;
}

.data a:hover {
    color: purple;
}

.data a:focus {
    text-decoration: underline;
}

.data a:visited {
    color:rgb(6, 181, 250)
}

.familygram {
    margin-left: 10px;
    font-size: 60px;
    text-align: center;
    color: #1560bd;
    font-weight: normal;
}

.logo {
    width: 40px;
}

.main {
    margin: 40px;
    margin-left: 30px;
    margin-top: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
}

.post {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.post-img {
    width: 300px;
    height: 400px;
}

.post-stats {
    display: flex;
    justify-content: space-between;
    margin-top: 3px;
  }

.heart {
    min-width: 60px;
    min-height: 34px;
    font-family: inherit;
    font-weight: bold;
    font-size: 16px;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-image: url("images/heart.png");
    opacity: 0.5;
    cursor: pointer;
  }

.heart:focus,
.heart:hover {
    opacity: 1;
}
  
.heart .likes-number {
    margin-left: 20px;
}
  
.heart.added {
    background-image: url("images/heart-added.png");
    opacity: 1;
}

.comment-feed {
    margin-top: -20px;
}

.comment-feed h3 {
    font-size: 18px;
}

.user-comment:first-child {
    display: none;
}

.comment-form {
    display: flex;
    background-color: #f8f8ff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

.comment-list {
    overflow: auto;
    margin-top: -5px;
    margin-right: -10px;
    height: 100px;
    display: none;
}

.scroll-visible {
    display: inline-block
}

.comment-list li {
    list-style-type: none;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 6px;
    font-size: 14px;
    line-height: 24px;
    width: 300px;
    margin-left: -40px;
    padding-left: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.comment-inner {
    width: 100%;
    height: 35px;
}

.button {
    height: 25px;
    margin: 5px;
}

.comment-field {
    width: 195px;
    margin: 5px;
    margin-top: 10px;
    margin-right: 0;
    border: 1px solid #eae9f2;
    color: #333333;
}

.comment-field:focus {
    outline-color: #b6aaff;
}

.user-comment::before {
    border-right-color: #eae9f2;
    color: #cdcdcd;
  }

.user-comment::after {
    
    border-right-color: #ffffff;
    border-bottom-color: #ffffff;
}

.footer {
    font-size: 14px;
    background-color: rgb(216, 215, 215);
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer p {
    margin-left: 40px;
    padding-top: 15px;
}

.socialmedia {
    margin-right: 40px;
}

.up-button {
    position: fixed;
    z-index: 1;
    padding: 0;
    bottom: 75px;
    right: 20px;
    width: 50px;
    height: 50px;
    font-size: 36px;
    text-align: center;
    vertical-align: middle;
    border: 2px solid;
    border-radius: 50%;
    display: none;
    cursor: pointer;
}

.shown {
    display: inline-block;
}
